.login-inputs{
    display: block;
}

input[type=text] {
    width: 63%;
    height: 30px;
    border-radius: 5px;
    border: none;
}

input[type=password] {
    width: 63%;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.login-input{
    margin-bottom: 2%;
}
.login-button{
    margin-bottom: 10%;
}

@media (max-width: 480px) {
    .encej-logo-div img {
      width: 300px;
    }
  }