section {
  background-color: #c10046;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.line {
  border-top: 1px solid rgba(194, 194, 194, 0.44);
  width: 50%;
}

.capacity-selection {
  display: flex;
}

.room-image{
  width: 440px;
}

.capacity-option {
  font-family: "Inter", sans-serif;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 5.5vh;
}

.capacity-option:hover {
  background-color: rgba(213, 63, 140, 0.7);
}

.capacity-option.selected {
  background-color: rgba(213, 63, 140, 1);
}

.room-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px; /* Adicione um espaçamento entre os cartões */
}

@media (max-width: 530px) {
  .room-image{
    width: 300px;
  }
}
