/* .room-details{
    display: flex;
} */

.people-column {
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos fluam para a próxima linha se não houver espaço suficiente */
  justify-content: space-between;
}

.sucesso{
    display: flex;
    margin-bottom: 50px;
}
.sucesso img{
    margin-right: 15px;
}
.people-column > * {
  width: calc(
    50% - 10px
  ); /* Define a largura para 50% com uma pequena folga entre os elementos */
  margin-bottom: 10px; /* Adiciona margem inferior para espaçamento entre os elementos */
  height: auto;
  margin-bottom: 30px;
}
.room-capacity {
  display: flex;
  justify-content: space-between;
  color: black;
  width: 100%;
}
.room-capacity-img {
  width: 10rem;
}
.room-details {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 995px) {
  .people-column > * {
    width: 100%; /* Em telas menores, os elementos ocupam toda a largura */
  }
  .room-capacity-img {
    width: 7.5rem;
  }

  .room-capacity h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 720px) {
  .room-capacity {
    display: block; /* Em telas menores, os elementos ocupam toda a largura */
    margin-bottom: 40px;
  }
  .room-details {
    width: 80%;
  }
  .sucesso{
    display: block;
    margin-bottom: 50px;
}
.sucesso img{
    margin-right: 0;
}
}


