.people-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sucesso {
  display: flex;
  margin-bottom: 50px;
}
.sucesso img {
  margin-right: 15px;
}
.people-column > * {
  width: calc(50% - 10px);
  margin-bottom: 10px;
  height: auto;
  margin-bottom: 30px;
}
.room-capacity {
  display: flex;
  justify-content: space-between;
  color: black;
  width: 100%;
}
.room-capacity-img {
  width: 10rem;
}
.room-details {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 995px) {
  .people-column > * {
    width: 100%;
  }
  .room-capacity-img {
    width: 7.5rem;
  }

  .room-capacity h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 720px) {
  .room-capacity {
    display: block;
    margin-bottom: 40px;
  }
  .room-details {
    width: 80%;
  }
  .sucesso {
    display: block;
    margin-bottom: 50px;
  }
  .sucesso img {
    margin-right: 0;
  }
}
