.inicio {
  height: 200px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1%;
}
.avatar-pic-person {
  width: 100px;
}
.hello-ej-person {
  margin-top: 0;
  padding-left: 1rem;
  color: black;
}

.img-avatar-div {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.header-person-name {
  padding-left: 0;
  margin-bottom: 0;
  color: black;
}

.hello {
  padding-left: 2rem;
  margin-bottom: 0;
}
.hello-ej {
  margin-top: 0;
}

.encej {
  display: flex;
  justify-content: end;
}
.encej-logo {
  width: 250px;
}

@media (max-width: 850px) {
  .img-avatar-div img {
    width: 150px;
  }
  .encej img {
    width: 190px;
  }
}

@media (max-width: 640px) {
  .img-avatar-div img {
    width: 100px;
  }
  .encej img {
    width: 100px;
  }
}

@media (max-width: 590px) {
  .img-avatar-div img {
    width: 100px;
  }
  .encej img {
    display: none;
  }
}
