 body {
     background-color: #C10046;
     justify-content: center;
 }

 .inicio {
     margin: auto;
     height: 200px;
     width: 90%;
     display: flex;
     align-items: center;
     border: 3px solid green;
 }

 .titulo {
     display: flex;

 }

 img {
     float: left;
 }

 .img_centro {
     display: flex;
     align-items: flex-start;
 }

 .centro {
     margin: auto;
     height: 400px;
     width: 50%;
     padding-right: 5%;
     padding: 10px;
 }

 .pessoa {
     margin-left: 10px;
 }



 .encej {
     display: flex;
     align-items: flex-end;
 }

 h1 {
     color: white;
     line-height: 30%;
     font-size: 35px;

 }

 p {

     color: white;
     font-size: 20px;
     margin-left: 0px;
     text-align: justify;
 }

 .welcome {
     display: block;
     margin-left: 180px;
     margin-right: auto;
     margin-top: 130px;

 }

 .reserva {
     display: block;
     margin-left: 50px;
     margin-right: auto;
     margin-top: 50x;

 }

 input[type=text] {
     width: 63%;
     height: 30px;
     border-radius: 5px;
     border: none;
 }

 input[type=password] {
     width: 63%;
     height: 30px;
     border-radius: 5px;
     border: none;
 }

 .enviar {
     background-color: white;
     border: none;
     padding: 10px 20px;
     margin: 4px 2px;
     cursor: pointer;
     width: 150px;
     margin-left: 200px;
     border-radius: 3px;

 }

 .logos {
     margin-bottom: 30px;
     margin-left: 28%;
     margin-right: auto;
 }